<!DOCTYPE html>
<html>
<head>
    <title>Bryan Reed - Week 2 - Employee List</title>

    <!--<script src = "js/app.js"></script>-->

    <script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.2.14/angular.min.js"></script>

    <script src = "js/app.js"></script>

    <script src = "js/dataService.js"> </script>

    <link rel="stylesheet" href="css/style.css" title ="CSS Title" type="text/css" media="screen">


</head>
<body ng-app="MyApp">

<div ng-controller="DBController">

    <h1> Employee Directory</h1>

    <h2> Add another employee</h2>
    <div>
        <input placeholder = "Employee Name" type = 'text' ng-model='newUser.name' />
        <input placeholder= "Street Name" type = 'text' ng-model='newUser.street' />
        <input placeholder = "City" type = 'text' ng-model='newUser.city' />
        <input placeholder = "State" type = 'text' ng-model='newUser.state' />
        <input placeholder = "Zip Code"  type = 'text' ng-model='newUser.zip' />

        <input ng-submit value = "Add Employee" type="submit" ng-click="addEmployee()"/>

        <!--<ul>-->
        <!--<li ng-repeat="item in nameArray">{{item.name}}  <button ng-click="deleteName(name)">Delete</button></li>-->


        <!--</ul>-->
        <div class = "display_box" ng-repeat="item in employees track by item.id">
            <div> <p> Name: {{item.name}} </p> </div>
            <div> <p> Street: {{item.street}} </p> </div>
            <div> <p> City: {{item.city}} </p> </div>
            <div> <p> State: {{item.state}} </p> </div>
            <div> <p> Zip: {{item.zip}} </p> </div>
            <button ng-click="deleteEmployee(item)">Remove</button>
        </div>


    </div>  <!-- end section -->
</div>

</body>
</html>